.experience-header {
    color: darkgreen;
}

.experience-info,
.experience-form {
    border: 3px solid darkgreen;
    padding: 10px;
    margin: 10px 0px;
}

.experience-form {
    display: flex;
    flex-direction: column;
}

.experience-form form {
    display: flex;
    flex-direction: column;
}

.experience-form input {
    margin: 5px;
}

.experience-form button {
    margin: 5px;
    max-width: 60px;
}
