.general-header {
    color: darkblue;
}

.general-info,
.general-form {
    /* border: 3px solid darkblue; */
    padding: 10px;
    margin: 10px 0px;
}

.general-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
}

.name {
    grid-column: 1 / 3;
    margin: 0.1em 0;
}

.email-label,
.phone-label {
    font-weight: bold;
}

.edit-button {
    margin: 5px;
    max-width: 100px;
    position: absolute;
    top: 10px;
    right: 10px;
    background: hsla(0, 0%, 0%, 0.027);
    border: 1px solid hsl(0, 0%, 0%, 0.425);
    color: hsla(0, 0%, 0%, 0.425);
    border-radius: 0.25em;
    cursor: pointer;
    outline: none;
}

.edit-button:hover {
    background: hsla(0, 0%, 0%, 0.1);
    border: 1px solid hsl(0, 0%, 0%, 0.425);
    color: hsla(0, 0%, 0%, 0.425);
}

.edit-button:active {
    background: hsla(0, 0%, 0%, 0.2);
    border: 1px solid hsl(0, 0%, 0%, 0.425);
    color: hsla(0, 0%, 0%, 0.425);
}

.general-form form {
    display: flex;
    flex-direction: column;
}

.general-form input {
    margin: 5px;
}

.general-form button {
    margin: 5px;
    max-width: 60px;
}
